body{
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgba(228, 202, 168, 0.406);
  color: black;
}
label{
  display: block;
  margin: 0.5rem 0;
}
textarea::placeholder{
  color: green;
}